@import-normalize; /* bring in normalize.css styles */

:root {
  --color-primary: #30479b;
  --color-blue-bright: #1837b8;
  --color-white-1: #f2f4f5;
  --color-dblue: #2c3d69;
  --color-border:#eee;
  --color-grey-3: #6b7180;
  --color-grey-4: #8b98a1;
  --color-red: #C22F25;
  --color-light-yellow: #FFF8EE;
  --font-family: AvertaPE-Regular, "Helvetica Neue", sans-serif;
}
html {
  box-sizing: border-box;
  font-size:62.5%;
}
body {
  font-family: var(--font-family);
  /* font-size: 100%; */
  background: var(--color-white-1);
  color: var(--color-grey-3);
  font-size:1.6rem;
}
* {
  font-family: var(--font-family);
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
a, button {
  transition: color 150ms ease-in-out, 
  background-color 150ms ease-in-out, 
  border-color 150ms ease-in-out,
  box-shadow 150ms ease-in-out;
}
.btn {
  letter-spacing: 0.1rem;
}
.btn.primary {
  font-weight: 600;
}
.btn.primary.empty{
  width:250px !important;
}
.btn.secondary {
  color: var(--color-grey-3);
}
button:hover{
  filter: brightness(105%) saturate(110%);
  transition: filter 200ms ease-in-out, transform 100ms ease-in-out;
}
button:active{
  transform:translateY(2px);
}
.text-input {
  /* height: 42px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  outline: none; */
  line-height: 1.66666667;
  color: #363636;

  height: 40px;
  /* line-height: 45px; */
  padding: 0px 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  width: 100%;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
  height: 48px;
  padding: 0px 16px;
  /*  */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: none;

  /* margin: 8px 8px; */
}

.btn.primary {
  color: #fff;
  
  background: #30479b;
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
}
@keyframes modal-in{
  from {
    opacity:0;
    transform: scale(.3);
  }
  to {
    opacity:1;
    transform: scale(1);
  }
}
.dialog {
  animation: modal-in 200ms cubic-bezier(.49,-0.15,.46,.49);
  background: #fff;
  border-radius: 10px;
  padding: 32px;
  position: relative;
  margin: 0px auto;
  border-top: 2px solid transparent;
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
  min-width: 400px;
}

.dialog .form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dialog .form-actions button {
  flex: 1;
  margin-right: 20px;
}

.dialog .form-actions button:last-child {
  margin-right: 0px;
}

.dialog .close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.dialog .title {
  margin-top: 0px;
}
