.sidebar-serving-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1.61719' width='23' height='23' rx='1' stroke='%23E4EAFF' stroke-width='2'/%3E%3Cpath d='M11.0124 12.0109L11.0041 7.41884L15.6107 12.0254L11.0208 16.6153L11.0124 12.0109Z' stroke='%23E4EAFF' stroke-width='2'/%3E%3C/svg%3E%0A");
  mask: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1.61719' width='23' height='23' rx='1' stroke='%23E4EAFF' stroke-width='2'/%3E%3Cpath d='M11.0124 12.0109L11.0041 7.41884L15.6107 12.0254L11.0208 16.6153L11.0124 12.0109Z' stroke='%23E4EAFF' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.serving {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: var(--theia-ui-font-family);
}

.serving-content {
  padding: 24px;
  height: 100%;
}

.serving-left {
  border-right: 1px solid #dde5e6;
  width: 25%;
}

.form-section {
  margin: 18px 0px;
}

.form-section .section-title {
  width: 100%;
  color: #465367;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}

.serving-input-select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d4d8dc;
  outline: none;
}

.form-section .row {
  width: 100%;
}

.form-section .space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
}

.radio-button-box {
  margin: 12px 0px;
  border: 1px solid #dde5e7;
  border-radius: 5px;
  background-color: #f7f9ff;
}

.radio-button-item {
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.radio-button-item:first-child {
  border-radius: 5px 5px 0px 0px;
}

.radio-button-item:last-child {
  border-radius: 0px 0px 5px 5px;
}

.radio-button-item.selected {
  background-color: var(--color-primary);
}

.radio-button-item .input-box {
  width: 15%;
}

.radio-button-item .information .title {
  font-size: 14px;
  font-weight: 400;
}

.radio-button-item .information label {
  cursor: pointer;
}

.radio-button-item .information .title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}

.radio-button-item.selected .information .title {
  color: white;
  font-weight: 700;
}

.radio-button-item .information .description {
  font-size: 12px;
  font-weight: 700;
  color: #b0b6c1;
}

.deploy-button {
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
}

.deploy-button::before {
  position: relative;
  content: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.459617 6.55566L0.459617 1.2906C0.459617 0.445389 1.58931 0.0221089 2.25 0.619763L8.07045 5.88483C8.48003 6.25532 8.48003 6.85601 8.07045 7.2265L2.25 12.4916C1.58931 13.0892 0.459617 12.6659 0.459617 11.8207L0.459617 6.55566Z' fill='white'/%3E%3C/svg%3E");
  width: 10px;
  height: 10px;
  float: left;
}

.serving-right {
  flex: 1;
}

.serving-information {
  padding: 24px;
}

.deployment-history-table,
.deployment-history-table table {
  width: 100%;
  border: none;
}

.deployment-history-table table thead {
  background-color: var(--color-primary);
  color: white;
}

.deployment-history-table table thead th {
  padding: 10px;
}

.deployment-history-table table thead th:first-child {
  border-radius: 5px 0px 0px 0px;
}

.deployment-history-table table thead th:last-child {
  border-radius: 0px 5px 0px 0px;
}

.deployment-history-table table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #d4d8dc;
  /* border-left: 1px solid #d4d8dc;
  border-right: 1px solid #d4d8dc; */
}

.deployment-history-table table tbody tr td:first-child {
  border-left: 1px solid #d4d8dc;
}

.deployment-history-table table tbody tr td:last-child {
  border-right: 1px solid #d4d8dc;
}

.deployment-history-table table tbody tr td {
  padding: 10px;
}

.deployment-history-table table tbody tr:nth-child(2n) td {
  background-color: #f2f5f7;
}

.deployment-history-table table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 5px;
}

.deployment-history-table table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

.deployment-monitoring {
  margin-top: 36px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.deployment-monitoring .item {
  width: 100%;
  padding: 16px;
  margin: 8px;
  background-color: #eef1f9;
  border-radius: 5px;
  flex: 1 1 25%;
}

.deployment-monitoring .item:nth-child(3n + 1) {
  margin-left: 0px;
}

.deployment-monitoring .item:nth-child(3n + 3) {
  margin-right: 0px;
}

.deployment-monitoring .item .title {
  color: #6b7180;
  font-family: var(--theia-ui-font-family);
}

.deployment-monitoring .number {
  font-weight: 600;
  margin-top: 22px;
  font-size: 36px;
  color: #30479b;
}

.deployment-monitoring .number.error {
  color: #e76e6e;
}

.button-group {
  display: flex;
  flex-direction: row;
}

.serving-table-button {
  border-radius: 4px;
  padding: 6px;
  border: none;
  outline: none;
  margin-left: 4px;
  min-width: max-content;
  color: white;
}

.serving-table-button__start,
.serving-table-button__stop,
.serving-table-button__url,
.serving-table-button__remove {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-primary);
}

.serving-table-button__start::before,
.serving-table-button__stop::before,
.serving-table-button__url::before,
.serving-table-button__remove::before {
  position: relative;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 6px;
}

.serving-table-button__start::before {
  content: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.459617 6.55566L0.459617 1.2906C0.459617 0.445389 1.58931 0.0221089 2.25 0.619763L8.07045 5.88483C8.48003 6.25532 8.48003 6.85601 8.07045 7.2265L2.25 12.4916C1.58931 13.0892 0.459617 12.6659 0.459617 11.8207L0.459617 6.55566Z' fill='white' fill-opacity='0.5' /%3E%3C/svg%3E");
}

.serving-table-button__stop::before {
  content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3' height='8' fill='white' fill-opacity='0.5'/%3E%3Crect x='5' width='3' height='8' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E");
}

.serving-table-button__remove::before {
  content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3' height='8' fill='white' fill-opacity='0.5'/%3E%3Crect x='5' width='3' height='8' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E");
  margin-right: 0px;
}

.serving-table-button__url svg {
  margin-right: 6px;
}

.serving-table-button__remove {
  background-color: #d97862;
  border: 1px solid #c22f25;
}

.deployment-row {
  cursor: pointer;
}

.deployment-row .button-group {
  visibility: hidden;
}

.deployment-row:hover .button-group {
  visibility: visible;
}

.replicas-input::-webkit-outer-spin-button,
.replicas-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.replicas-input {
  width: 32px;
  height: 32px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #d4d8dc;
  text-align: center;
  -webkit-appearance: none;
}

.replicas-input-label {
  color: #465367;
  margin-left: 6px;
}
