.sidebar-tuning-icon {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 17H20M15 17C15 17.5933 14.8241 18.1733 14.4945 18.6666C14.1649 19.1599 13.6965 19.5444 13.1484 19.7715C12.6003 19.9986 11.9971 20.0581 11.4152 19.9425C10.8333 19.8268 10.2988 19.5412 9.87915 19.1218C9.45954 18.7024 9.17372 18.1679 9.05781 17.5861C8.9419 17.0042 9.00112 16.4011 9.22798 15.8529C9.45484 15.3047 9.83915 14.836 10.3323 14.5062C10.8255 14.1764 11.4054 14.0003 11.9987 14C12.3927 13.9998 12.783 14.0773 13.1471 14.228C13.5113 14.3787 13.8421 14.5996 14.1208 14.8782C14.3996 15.1568 14.6207 15.4876 14.7715 15.8516C14.9224 16.2157 15 16.6059 15 17ZM6 17H8M13 8H6M2.6 1H23.4C24.2837 1 25 1.71634 25 2.6V23.4C25 24.2837 24.2837 25 23.4 25H2.6C1.71634 25 1 24.2837 1 23.4V2.6C1 1.71634 1.71634 1 2.6 1ZM20 8C20 7.40671 19.8241 6.82675 19.4945 6.33343C19.1649 5.84011 18.6965 5.45559 18.1484 5.22849C17.6003 5.00139 16.9971 4.9419 16.4152 5.05755C15.8333 5.1732 15.2988 5.45879 14.8792 5.87821C14.4595 6.29763 14.1737 6.83206 14.0578 7.41391C13.9419 7.99577 14.0011 8.59893 14.228 9.14713C14.4548 9.69533 14.8391 10.164 15.3323 10.4938C15.8255 10.8236 16.4054 10.9997 16.9987 11C17.7944 11 18.5576 10.684 19.1205 10.1214C19.6833 9.55883 19.9996 8.79577 20 8Z' stroke='%23E4EAFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  mask: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 17H20M15 17C15 17.5933 14.8241 18.1733 14.4945 18.6666C14.1649 19.1599 13.6965 19.5444 13.1484 19.7715C12.6003 19.9986 11.9971 20.0581 11.4152 19.9425C10.8333 19.8268 10.2988 19.5412 9.87915 19.1218C9.45954 18.7024 9.17372 18.1679 9.05781 17.5861C8.9419 17.0042 9.00112 16.4011 9.22798 15.8529C9.45484 15.3047 9.83915 14.836 10.3323 14.5062C10.8255 14.1764 11.4054 14.0003 11.9987 14C12.3927 13.9998 12.783 14.0773 13.1471 14.228C13.5113 14.3787 13.8421 14.5996 14.1208 14.8782C14.3996 15.1568 14.6207 15.4876 14.7715 15.8516C14.9224 16.2157 15 16.6059 15 17ZM6 17H8M13 8H6M2.6 1H23.4C24.2837 1 25 1.71634 25 2.6V23.4C25 24.2837 24.2837 25 23.4 25H2.6C1.71634 25 1 24.2837 1 23.4V2.6C1 1.71634 1.71634 1 2.6 1ZM20 8C20 7.40671 19.8241 6.82675 19.4945 6.33343C19.1649 5.84011 18.6965 5.45559 18.1484 5.22849C17.6003 5.00139 16.9971 4.9419 16.4152 5.05755C15.8333 5.1732 15.2988 5.45879 14.8792 5.87821C14.4595 6.29763 14.1737 6.83206 14.0578 7.41391C13.9419 7.99577 14.0011 8.59893 14.228 9.14713C14.4548 9.69533 14.8391 10.164 15.3323 10.4938C15.8255 10.8236 16.4054 10.9997 16.9987 11C17.7944 11 18.5576 10.684 19.1205 10.1214C19.6833 9.55883 19.9996 8.79577 20 8Z' stroke='%23E4EAFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.add {
  background: var(--theia-icon-add);
}

.h1st-tuning-main-container {
}

.h1st-tuning .experiment-empty {
  width: 100%;
  height: 100%;
  color: var(--theia-button-disabledForeground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1st-tuning .experiment-empty button {
  background: var(--theia-button-background);
  color: var(--theia-foreground);
  border: 0px;
  padding: 8px 16px;
  border-radius: 4px;
}
